.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1efdfd3f;
    width: 100%;
    height: auto;
    bottom: 0;
}

.iconparent {
    display: flex;
    flex-direction: row;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 5px 5px;
    cursor: pointer;
}